<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">
    <title>树莓派控制中心</title>
</head>
<body>
<div>
    <h1>树莓派控制中心</h1>
    <ul>
        <li><a href="jjz/status">查询进京证</a></li>
    </ul>
</div>
</body>
</html>